app-user-detail-form {
  // Workaround for https://github.com/angular/material2/issues/4580.
  mat-form-field .mat-form-field {
    &-underline {
      position: static;
    }
    &-subscript-wrapper {
      position: static;
    }
  }

  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: gray;
  }

  .label-text {
    font-family: Roboto;
  }

  .example-form {
    min-width: 150px;
    max-width: 700px;
  }

  .example-full-width {
    width: 100%;
  }

  .example-radio-button {
    margin: 5px;
  }

  .example-check-box {
    margin: 5px;
  }

  .example-button {
    margin: 5px;
  }

  .error-message {
    font-size: 12px;
  }

  .double-line-hint {
    .mat-input-hint-wrapper {
      flex-wrap: wrap;

      .hint-line {
        flex: 0 0 100%;
      }
    }
  }
}
